name: 'build'

on:
  push:
  pull_request:
  workflow_dispatch:
  schedule:
    - cron: '0 3 * * *'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: write

jobs:
  build-installer:
    runs-on: windows-2025
    strategy:
      fail-fast: false
      matrix:
        include:
          - msystem: UCRT64
            arch_name: x86_64
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
        with:
          persist-credentials: false

      - name: setup-msys2
        uses: msys2/setup-msys2@v2
        with:
          msystem: ${{ matrix.msystem }}
          update: true

      - name: Build Installer
        shell: msys2 {0}
        run: |
          bash make-msys2-installer

      - name: Set Release Env
        id: set_env
        shell: msys2 {0}
        env:
          REF: ${{ github.ref }}
          REF_TYPE: ${{ github.ref_type }}
          REF_NAME: ${{ github.ref_name }}
        run: |
          if [[ "$REF" == 'refs/heads/main' ]]; then
            echo 'RELEASE_TAG=nightly' >> "$GITHUB_OUTPUT"
            echo 'FILE_NAME=latest' >> "$GITHUB_OUTPUT"
          elif [[ "$REF_TYPE" == 'tag' ]] && [[ "$REF_NAME" != 'nightly' ]]; then
            echo "RELEASE_TAG=$REF_NAME" >> "$GITHUB_OUTPUT"
            echo "FILE_NAME=$REF_NAME" >> "$GITHUB_OUTPUT"
          else
            echo 'FILE_NAME=nightly' >> "$GITHUB_OUTPUT"
          fi

      - name: Rename Artifacts and Checksums
        if: steps.set_env.outputs.FILE_NAME != 'nightly'
        env:
          FILE_NAME: ${{ steps.set_env.outputs.FILE_NAME }}
        run: |
          mv Yunzai-*.sfx.exe "Yunzai-$env:FILE_NAME.sfx.exe"
          mv Yunzai-*.tar.zst "Yunzai-$env:FILE_NAME.tar.zst"
          sha256sum Yunzai-* | tee Yunzai-checksums.txt

      - name: Upload Results
        uses: actions/upload-artifact@v6
        with:
          name: Yunzai-${{ steps.set_env.outputs.FILE_NAME }}
          path: Yunzai-*
          compression-level: 0

      - name: Upload to Release
        if: steps.set_env.outputs.FILE_NAME != 'nightly' && github.event_name != 'pull_request'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          TAG_NAME: ${{ steps.set_env.outputs.RELEASE_TAG }}
        run: |
          gh release upload "$env:TAG_NAME" Yunzai-* --clobber || `
          gh release create "$env:TAG_NAME" Yunzai-* --title "$env:TAG_NAME"
